<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <Nelim_ManyHappyReturnsSettings.label>Many Happy Returns</Nelim_ManyHappyReturnsSettings.label>
  <Nelim_ManyHappyReturnsSettings.description>Ouvrir les options du mod Many Happy Returns.</Nelim_ManyHappyReturnsSettings.description>
</LanguageData>
